body {
  margin: 0;
  padding: 40px 20px;

  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.document {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;

  background-color: white;
  color: black;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #6C006C;
}

h2 {
  color: blueviolet;
}
